<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guess the number!</title>
    {{include_static 'style.css'}}
</head>
<body>
<a href="{{=url('new_game')}}" class="new_game">New game!</a>

<div class="game-names-container box">
    <h3 class="index">Open games</h3>
    <ul class="index">
        {{for open_game in open_games:}}
        <li class="index">
            <a class="index" href="{{=url('play', open_game.id)}}">Game {{=open_game.id}}</a>
        </li>
        {{pass}}
    </ul>
</div>

<div class="game-names-container box">
    <h3 class="index">Closed games</h3>
    <ul class="index">
        {{for closed_game in closed_games:}}
        <li class="index">
            <a class="index" href="{{=url('inspect', open_game.id)}}">Game {{=closed_game.id}}</a>
        </li>
        {{pass}}
    </ul>
</div>


</body>
</html>